# Ambientes virtuais
.venv/
venv/
env/

# Dados gerados pelo pipeline
chroma_db/
chunks/
*.json
*.db
history.csv
rag/generator_original.py
rag/main_original.py
testes
scripts

# Arquivos de configuração sensíveis
.env
*.env

# Arquivos temporários e logs
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store